<div class="jumbotron banner jumbotron-fluid text-center">
    <!-- can change the image out with the commented out stuff in the jumbotron includes -->
    <img src="img/queen-logo-white.png" class="img-fluid" alt="Responsive image">
</div>
