{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}Learn about Queen's discography.{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  {% for discography in queen.discography %}
  <div class="col-sm-6 col-md-4 col-lg-3">
    <!-- i think it's a padding thing here, not a margin thing, affecting the spacing between each card -->
    <!-- center the cards so the last row with 3 doesn't look so weird -->
    <div class="card mb-3">
      <img src="img/discs/{{discography.image}}" alt="{{ discography.title }} album cover" class="card-img-top">
      <div class="card-body">
        <!-- change font -->
        <h5 class="card-title">{{ discography.title }}</h5>
        <!-- change font color -->
        <p class="card-text">{{ discography.year }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
