{% extends '_templates/base.njk' %}

{% block page_title %}Index{% endblock %}

{% block page_description %}Learn about the band Queen.{% endblock %}

{% block content %}
{% include "_includes/jumbotron.njk" %}

<div class="container">
  <div class="row">
    <div class="site-description col-lg-6">
      <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury, Brian May, Roger Taylor  and John Deacon. Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p>

      <p>Before forming Queen, May and Taylor had played together in the band Smile. Mercury was a fan of Smile and encouraged them to experiment with more elaborate stage and recording techniques. He joined in 1970 and suggested the name "Queen". Deacon was recruited in February 1971, before the band released their eponymous debut album in 1973. Queen first charted in the UK with their second album, Queen II, in 1974. Sheer Heart Attack later that year and A Night at the Opera in 1975 brought them international success. The latter featured "Bohemian Rhapsody", which stayed at number one in the UK for nine weeks and helped popularise the music video format.</p>

      <p>The band's 1977 album News of the World contained "We Will Rock You" and "We Are the Champions", which have become anthems at sporting events. By the early 1980s, Queen were one of the biggest stadium rock bands in the world. "Another One Bites the Dust" from The Game (1980) became their best-selling single, while their 1981 compilation album Greatest Hits is the best-selling album in the UK and is certified nine times platinum in the US. Their performance at the 1985 Live Aid concert is ranked among the greatest in rock history by various publications. In August 1986, Mercury gave his last performance with Queen at Knebworth, England. In 1991, he died of bronchopneumonia—a complication of AIDS—and Deacon retired in 1997. Since 2004, May and Taylor have toured under the "Queen +" name with vocalists Paul Rodgers and Adam Lambert. </p>

      <small>- Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)">Wikipedia</a></small>
    </div>
    <div class="col-lg-6">
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0">Members...</h2>
          <ul class="list-unstyled">
            {% for members in queen.members %}
            <li class="media index-members">
              <img class="index-members-photos mr-3 img-fluid" src="img/members/{{ members.slug }}-bw.jpg" alt="{{ members.name }}">
              <div class="media-body">
                <h4 class="mt-0 mb-1"><a  class="index-members-name" href="members/{{ members.slug }}.html">{{ members.name }}</a></h4>
                <p class="instruments-members" style="font-style:italic">{{ members.instruments }}</p>
                <p>Tenure: {{ members.tenure }}</p>
                <p>Birthplace: {{ members.birthplace }}</p>
                <p>Birthdate: {{ members.birthdate }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0"><a href="discography.html">Discography...</a></h2>
          <p class="tour-teaser">View all 16 of Queen's legendary albums, from "Queen" to "Made in Heaven."</p>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <h2 class="mt-0"><a href="tour.html">Tour...</a></h2>
          <p class="discography-teaser">Queen is going on tour in 2021! Buy your tickets now before they're sold out!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
