{% extends '_templates/base.njk' %}

{% block page_title %}Tour{% endblock %}

{% block page_description %}View Queen's 2021 tour dates.{% endblock %}

{% block content %}
<div class="container tour-page">

  <p class="tour-header text-center">TOUR 2021</p>
  <img src="img/queen-logo-white.png" class="img-fluid" alt="Queen logo">

  <div class="row">
    <div class="col-md-8 col-lg-10 offset-md-2 offset-lg-1">
      <ul class="list-group tour-dates">
        {% for tour2021 in queen.tour2021 %}
        <li class="list-group-item">
        <span class="tour-city">{{ tour2021.city }}</span><br>
        <span class="tour-venue">{{ tour2021.venue }}</span><br>
        <span class="tour-date">{{ tour2021.date }}</span><br>
        <button type="button" class="btn tour-tickets btn-dark">TICKETS</button></li>
        {% endfor %}
      </ul>
    </div>
</div>

{% endblock %}