{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}Learn about {{ name }}: {{ instruments }} of Queen.{% endblock %}

{% block content %}
  <article class="container member-page">
    <div class="row">
      <!-- fix the sm size of the images according to crit's comments -->
      <!-- figure out why there's a member-image class here... -->
      <div class="member-image col-md-12 col-lg-6">
        <img src="../img/members/{{ slug }}-bw.jpg" alt="{{ name }}" class="img-fluid">
      </div>
      <div class="member-description col-md-12 col-lg-6">
        <div class="text-center">
        <h1 class="baked-member-name">{{ name }}</h1>
        <p class="instruments-members" style="font-style:italic">{{ instruments }}</p>
        <p>Tenure: {{ tenure }}</p>
        <p>Birthplace: {{ birthplace }}</p>
        <p>Birthdate: {{ birthdate }}</p>
        </div>
        <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
