h5 {
  color: $secondary-color;
  font-family: 'Cinzel', serif;
}

.baked-member-name {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: $tertiary-color;
  margin-top: 20px;
  margin-bottom: 10px;
}

@include media-breakpoint-down(lg) {
  .member-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
