h5 {
  color: $secondary-color;
  font-family: 'Cinzel', serif;
}

.baked-member-name {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: #dc4027;
  margin-top: 20px;
  margin-bottom: 10px;
}