.card-title {
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.card-text {
  color: black;
  font-style: italic;
}

.discography-header {
  font-family: 'Cinzel', serif;
  font-size: 4.5rem;
}

.card-title {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: black;
  font-size: 1.50rem;
}

@include media-breakpoint-down(sm) {
  .discography-header {
    font-size: 4rem;
  }
}
