.index-members-photos, .index-bullet-img {
  max-width: 30%;
}

.index-members {
  border: $secondary-color solid groove 3px;
  margin-bottom: 5px;
}

.index-members-name {
  font-family: 'Cinzel', serif;
}

.band-description-source {
  font-size: .75rem;
}

h2 {
  font-family: 'Cinzel', serif;
  color: #dc4027;
}

.site-description {
  font-size: 19px;
}

.discography-teaser, .tour-teaser {
    font-size: 19px;
  }