.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.jumbotron {
  margin-bottom: 30px;
}


// this would make the text appear as queen, replacing the see-through img
/* h1 {
  font-family: 'Cinzel', serif;
  font-size: 5rem;
}
*/
