.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.jumbotron {
  margin-bottom: 60px;
}
