.navbar {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 1.75rem;
}

.navbar-custom {
  background-color: $primary-color;
}

