.tour-dates {
  text-align: center;
  padding-top: 80px;
}

.tour-header {
  font-size: 6.5rem;
  font-family: 'Cinzel', serif;
  margin: 0px;
  line-height: 100px;
}

.tour-city {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  font-weight: bold;
}

.tour-venue {
  font-family: 'Roboto', sans-serif;
  font-size: 1.35rem;
}

.tour-date {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

.tour-tickets {
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  font-weight: bold;
}

.btn-tickets {
  color: $primary-color;
  background-color: $tertiary-color;
  border-color: $tertiary-color;
}
