@import "../../node_modules/bootstrap/scss/bootstrap";

$primary-color: #0d0c11;
$secondary-color: #fcfcfc;
$tertiary-color: #dc4027;

@import "nav";
@import "jumbotron";
@import "index";
@import "discography";
@import "tour";
@import "footer";
@import "bake-member";

body {
  background-color: $primary-color;
}

h4 {
  font-family: 'Cinzel', serif;
  font-style: italic;
  font-weight: bold;
  color: $secondary-color;
}

p, small {
  color: $secondary-color;
  font-family: 'Roboto', sans-serif;
}

.baked-member-name {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: $tertiary-color;
}

a:link {
  color: $tertiary-color;
}

a:visited {
  color: $tertiary-color;
  text-decoration: none;
}

.instruments-members {
  padding-bottom: 15px;
  color: $secondary-color;
}

.member-page, .tour-page, .discography-page {
  padding-top: 20px;
}
